<h1>Editar turno</h1>

<%= render 'form', appointment: @appointment , professional: @professional %>

<%= link_to 'Ver', [@professional, @appointment] %> |
<%= link_to 'atras', professional_appointments_path(@professional) %>
